:root {
    --color-primario: #35598D;
    --color-secundario: #D71043;
    --color-encabezado: #EEEEEE;
    --color-letras-informacion: #FFFFFF;
    --tiempo-transicion: 0.5s;
    --color-no-selecionado: #6c757d;
    --color-bordes-fila-tabla: rgba(0, 0, 0, 0.25);
}