@import url('./colores.css');

.is-hover-boton-enviar{
    transition: all 0.5s;
}

.is-hover-boton-enviar:hover{
    background-color: #0c2549;
}
.is-bordes-azul{
    transition: all 0.5s;
}
.is-bordes-azul:hover{
    border: 1px solid #0c2549;
}

.is-activo-item-menu > span:first-child{
    background-color: var(--color-secundario) !important;
    color: white;
}
.is-activo-item-menu > span:last-child{
    background-color: var(--color-secundario) !important;
}
.is-cargando-contenido{
    animation: 0.8s cargandoContenido infinite alternate ease-in-out;
}

.is-activo-op-menu {
    background-color: white !important;
    box-shadow: 0px -3px 2px var(--color-b-2);
}
.drag-active {
    border-color: green;   
}
.no-valido {
    border:1px solid red !important;
}
.es-valido {
    border:1px solid green !important;

}
@keyframes cargandoContenido {
    0%{
        background-color: #eee;
    }
    100%{
        background-color: #ccc;
    }
}
span[recargar].carga {
    animation: carga 0.5s infinite;
}

@keyframes carga {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}